**/__pycache__

.vscode

# python environment dir, any dir ending with env
*env/

# build/installation artefacts and prerequisites
bin/
src/c_routines/bin
build/
*.egg-info
dist/
data/

test_corsika2geant
*.mp4

# default dir for runs data
runs/

run.yaml
nodes.yaml
tasdmc_dev_env.sh
!examples/*
*.log
