**/__pycache__

.vscode

# python environment dir, any dir ending with env
*env/

# build/installation artefacts and prerequisites
bin/
src/c_routines/bin
build/
*.egg-info
dist/
data/

# default dir for runs data
runs/

config.yaml
tasdmc_dev_env.sh
!examples/*
*.log
